bs4 - get data from a webpage,
urllib.request - request a webpage by specifying its url

1. to get the webpage by specifying its url
2. check if some response is coming or not
3. if response is coming, pass this response to bs4
4. use the bs4 object to get the html
5. find the tag that is needed to extract the data from html

In [61]:
import bs4
import urllib.request as req
import numpy as np
import pandas as pd

In [2]:
response = req.urlopen('https://www.usgs.gov/natural-hazards/earthquake-hazards/lists-maps-and-statistics')

In [3]:
response

In [4]:
html = bs4.BeautifulSoup(response)

In [5]:
type(html)

bs4.BeautifulSoup

In [6]:
type(response)

http.client.HTTPResponse

In [8]:
table = html.find('table')

In [9]:
print(table)

<table class="table table-striped"><thead><tr><th>Magnitude</th>
<th>2000</th>
<th>2001</th>
<th>2002</th>
<th>2003</th>
<th>2004</th>
<th>2005</th>
<th>2006</th>
<th>2007</th>
<th>2008</th>
<th>2009</th>
<th>2010</th>
<th>2011</th>
<th>2012</th>
<th>2013</th>
<th>2014</th>
<th>2015</th>
<th>2016</th>
<th>2017</th>
<th>2018</th>
<th>2019</th>
</tr></thead><tbody><tr><th scope="row">8.0+</th>
<td>1</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>2</td>
<td>4</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>2</td>
<td>2</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
</tr><tr><th scope="row">7–7.9</th>
<td>14</td>
<td>15</td>
<td>13</td>
<td>14</td>
<td>14</td>
<td>10</td>
<td>9</td>
<td>14</td>
<td>12</td>
<td>16</td>
<td>23</td>
<td>19</td>
<td>12</td>
<td>17</td>
<td>11</td>
<td>18</td>
<td>16</td>
<td>6</td>
<td>16</td>
<td>9</td>
</tr><tr><th scope="row">6–6.9</th>
<td>146</td>
<td>121</td>
<td>127</td>
<td>140</td>
<td>141</td>
<td>140</td>
<td>142</td>
<td>178</td>
<td>168</td>
<td>144</td>
<td>150</td>
<td>185</td>
<td>108</td>
<td>123</td>
<td>143</td>
<td>127</td>
<td>130</td>
<td>104</td>
<td>117</td>
<td>135</td>
</tr><tr><th scope="row">5–5.9</th>
<td>1344</td>
<td>1224</td>
<td>1201</td>
<td>1203</td>
<td>1515</td>
<td>1693</td>
<td>1712</td>
<td>2074</td>
<td>1768</td>
<td>1896</td>
<td>2209</td>
<td>2276</td>
<td>1401</td>
<td>1453</td>
<td>1574</td>
<td>1419</td>
<td>1550</td>
<td>1455</td>
<td>1674</td>
<td>1492</td>
</tr><tr><th scope="row">Estimated<br/>Deaths</th>
<td>231</td>
<td>21357</td>
<td>1685</td>
<td>33819</td>
<td>298101</td>
<td>87992</td>
<td>6605</td>
<td>708</td>
<td>88708</td>
<td>1790</td>
<td>226050</td>
<td>21942</td>
<td>689</td>
<td>1572</td>
<td>756</td>
<td>9624</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr></tbody></table>

In [12]:
headings = table.find_all('th')

In [14]:
headings

[<th>Magnitude</th>,
 <th>2000</th>,
 <th>2001</th>,
 <th>2002</th>,
 <th>2003</th>,
 <th>2004</th>,
 <th>2005</th>,
 <th>2006</th>,
 <th>2007</th>,
 <th>2008</th>,
 <th>2009</th>,
 <th>2010</th>,
 <th>2011</th>,
 <th>2012</th>,
 <th>2013</th>,
 <th>2014</th>,
 <th>2015</th>,
 <th>2016</th>,
 <th>2017</th>,
 <th>2018</th>,
 <th>2019</th>,
 <th scope="row">8.0+</th>,
 <th scope="row">7–7.9</th>,
 <th scope="row">6–6.9</th>,
 <th scope="row">5–5.9</th>,
 <th scope="row">Estimated<br/>Deaths</th>]

In [15]:
del headings[0]

In [16]:
headings

[<th>2000</th>,
 <th>2001</th>,
 <th>2002</th>,
 <th>2003</th>,
 <th>2004</th>,
 <th>2005</th>,
 <th>2006</th>,
 <th>2007</th>,
 <th>2008</th>,
 <th>2009</th>,
 <th>2010</th>,
 <th>2011</th>,
 <th>2012</th>,
 <th>2013</th>,
 <th>2014</th>,
 <th>2015</th>,
 <th>2016</th>,
 <th>2017</th>,
 <th>2018</th>,
 <th>2019</th>,
 <th scope="row">8.0+</th>,
 <th scope="row">7–7.9</th>,
 <th scope="row">6–6.9</th>,
 <th scope="row">5–5.9</th>,
 <th scope="row">Estimated<br/>Deaths</th>]

In [20]:
row_headings = headings[-5:]

In [26]:
row_headings

[<th scope="row">8.0+</th>,
 <th scope="row">7–7.9</th>,
 <th scope="row">6–6.9</th>,
 <th scope="row">5–5.9</th>,
 <th scope="row">Estimated<br/>Deaths</th>]

In [23]:
column_headings = headings[:-5]

In [24]:
column_headings

[<th>2000</th>,
 <th>2001</th>,
 <th>2002</th>,
 <th>2003</th>,
 <th>2004</th>,
 <th>2005</th>,
 <th>2006</th>,
 <th>2007</th>,
 <th>2008</th>,
 <th>2009</th>,
 <th>2010</th>,
 <th>2011</th>,
 <th>2012</th>,
 <th>2013</th>,
 <th>2014</th>,
 <th>2015</th>,
 <th>2016</th>,
 <th>2017</th>,
 <th>2018</th>,
 <th>2019</th>]

In [27]:
for i in range(len(row_headings)):
    row_headings[i] = row_headings[i].text

In [28]:
row_headings

['8.0+', '7–7.9', '6–6.9', '5–5.9', 'EstimatedDeaths']

In [29]:
for i in range(len(column_headings)):
    column_headings[i] = column_headings[i].text

In [31]:
print(column_headings)

['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

In [49]:
data = table.find_all("td")

In [50]:
len(data)

100

In [51]:
data

[<td>1</td>,
 <td>1</td>,
 <td>0</td>,
 <td>1</td>,
 <td>2</td>,
 <td>1</td>,
 <td>2</td>,
 <td>4</td>,
 <td>0</td>,
 <td>1</td>,
 <td>1</td>,
 <td>1</td>,
 <td>2</td>,
 <td>2</td>,
 <td>1</td>,
 <td>1</td>,
 <td>0</td>,
 <td>1</td>,
 <td>1</td>,
 <td>1</td>,
 <td>14</td>,
 <td>15</td>,
 <td>13</td>,
 <td>14</td>,
 <td>14</td>,
 <td>10</td>,
 <td>9</td>,
 <td>14</td>,
 <td>12</td>,
 <td>16</td>,
 <td>23</td>,
 <td>19</td>,
 <td>12</td>,
 <td>17</td>,
 <td>11</td>,
 <td>18</td>,
 <td>16</td>,
 <td>6</td>,
 <td>16</td>,
 <td>9</td>,
 <td>146</td>,
 <td>121</td>,
 <td>127</td>,
 <td>140</td>,
 <td>141</td>,
 <td>140</td>,
 <td>142</td>,
 <td>178</td>,
 <td>168</td>,
 <td>144</td>,
 <td>150</td>,
 <td>185</td>,
 <td>108</td>,
 <td>123</td>,
 <td>143</td>,
 <td>127</td>,
 <td>130</td>,
 <td>104</td>,
 <td>117</td>,
 <td>135</td>,
 <td>1344</td>,
 <td>1224</td>,
 <td>1201</td>,
 <td>1203</td>,
 <td>1515</td>,
 <td>1693</td>,
 <td>1712</td>,
 <td>2074</td>,
 <td>1768</td>,
 <td>1896</td>,
 <td>2209</td>,
 <td>2276</td>,
 <td>1401</td>,
 <td>1453</td>,
 <td>1574</td>,
 <td>1419</td>,
 <td>1550</td>,
 <td>1455</td>,
 <td>1674</td>,
 <td>1492</td>,
 <td>231</td>,
 <td>21357</td>,
 <td>1685</td>,
 <td>33819</td>,
 <td>298101</td>,
 <td>87992</td>,
 <td>6605</td>,
 <td>708</td>,
 <td>88708</td>,
 <td>1790</td>,
 <td>226050</td>,
 <td>21942</td>,
 <td>689</td>,
 <td>1572</td>,
 <td>756</td>,
 <td>9624</td>,
 <td> </td>,
 <td> </td>,
 <td> </td>,
 <td> </td>]

In [52]:
for i in range(len(data)):
    data[i] = data[i].text

In [53]:
print(data)

['1', '1', '0', '1', '2', '1', '2', '4', '0', '1', '1', '1', '2', '2', '1', '1', '0', '1', '1', '1', '14', '15', '13', '14', '14', '10', '9', '14', '12', '16', '23', '19', '12', '17', '11', '18', '16', '6', '16', '9', '146', '121', '127', '140', '141', '140', '142', '178', '168', '144', '150', '185', '108', '123', '143', '127', '130', '104', '117', '135', '1344', '1224', '1201', '1203', '1515', '1693', '1712', '2074', '1768', '1896', '2209', '2276', '1401', '1453', '1574', '1419', '1550', '1455', '1674', '1492', '231', '21357', '1685', '33819', '298101', '87992', '6605', '708', '88708', '1790', '226050', '21942', '689', '1572', '756', '9624', '\xa0', '\xa0', '\xa0', '\xa0']

In [57]:
data = np.array(data)

In [58]:
data.shape

(100,)

In [59]:
data.resize(5,20)

In [60]:
data

array([['1', '1', '0', '1', '2', '1', '2', '4', '0', '1', '1', '1', '2',
        '2', '1', '1', '0', '1', '1', '1'],
       ['14', '15', '13', '14', '14', '10', '9', '14', '12', '16', '23',
        '19', '12', '17', '11', '18', '16', '6', '16', '9'],
       ['146', '121', '127', '140', '141', '140', '142', '178', '168',
        '144', '150', '185', '108', '123', '143', '127', '130', '104',
        '117', '135'],
       ['1344', '1224', '1201', '1203', '1515', '1693', '1712', '2074',
        '1768', '1896', '2209', '2276', '1401', '1453', '1574', '1419',
        '1550', '1455', '1674', '1492'],
       ['231', '21357', '1685', '33819', '298101', '87992', '6605',
        '708', '88708', '1790', '226050', '21942', '689', '1572', '756',
        '9624', '\xa0', '\xa0', '\xa0', '\xa0']], dtype='<U6')

In [65]:
pd.DataFrame(data, columns = column_headings, index = row_headings)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
8.0+,1,1,0,1,2,1,2,4,0,1,1,1,2,2,1,1,0,1,1,1
7–7.9,14,15,13,14,14,10,9,14,12,16,23,19,12,17,11,18,16,6,16,9
6–6.9,146,121,127,140,141,140,142,178,168,144,150,185,108,123,143,127,130,104,117,135
5–5.9,1344,1224,1201,1203,1515,1693,1712,2074,1768,1896,2209,2276,1401,1453,1574,1419,1550,1455,1674,1492
EstimatedDeaths,231,21357,1685,33819,298101,87992,6605,708,88708,1790,226050,21942,689,1572,756,9624,,,,