In [3]:
data = []
for i in range(1,101):
    if i % 2 == 0:
        data.append(i)

In [4]:
print(data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [5]:
#List comprehension
data = [i for i in range(1,101) if i % 2 == 0]

In [6]:
print(data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [7]:
data = {
    "names" : ["Ram", "Shyam", "Mohan", "Jenny", "Twinkle"],
    "marks" : [50, 60, 70, 80, 90],
    "grade" : ["E", "D", "C", "B", "A"]
}

In [8]:
data["names"]

['Ram', 'Shyam', 'Mohan', 'Jenny', 'Twinkle']

In [9]:
data["names"][0]

'Ram'

In [10]:
data["names"][-1]

'Twinkle'

In [25]:
data["hobby"] = ["", "movies", "songs", "travelling", "gym"]

In [26]:
data

{'names': ['Ram', 'Shyam', 'Mohan', 'Jenny', 'Twinkle'],
 'marks': [50, 60, 70, 80, 90],
 'grade': ['E', 'D', 'C', 'B', 'A'],
 'hobby': ['', 'movies', 'songs', 'travelling', 'gym']}

In [14]:
import pandas as pd

In [27]:
pd.DataFrame(data)

     names  marks grade       hobby
0      Ram     50     E
1    Shyam     60     D      movies
2    Mohan     70     C       songs
3    Jenny     80     B  travelling
4  Twinkle     90     A         gym

ML Lifecycle

- Data Collection (crawling) -> bs4 (beautiful soup)
- Data Analysis - numpy, pandas (exploratory data analysis
    - Data Cleaning
    - Data Mining
    - Statistical Analysis (mean, median, mode, std dev, variance)
    - Data Preprocessing - pandas, scikit-learn
        - Handle missing values
        - Feature Scaling (normalization / standardisation)
        - Label Encoding
    - Data visualisation (graphs) - matplotlib, seaborn, bokeh
- Predictive modelling (machine learning) - scikit-learn
- Optimisation
- Data visualisation