In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv("SaratogaHouses.csv")

In [7]:
dataset.drop('Unnamed', axis = 1, inplace=True)

In [8]:
dataset.head()

,price,lotSize,age,landValue,livingArea,pctCollege,bedrooms,fireplaces,bathrooms,rooms,heating,fuel,sewer,waterfront,newConstruction,centralAir
0,132500,0.09,42,50000,906,35,2,1,1.0,5,electric,electric,septic,No,No,No
1,181115,0.92,0,22300,1953,51,3,0,2.5,6,hot water/steam,gas,septic,No,No,No
2,109000,0.19,133,7300,1944,51,4,1,1.0,8,hot water/steam,gas,public/commercial,No,No,No
3,155000,0.41,13,18700,1944,51,3,1,1.5,5,hot air,gas,septic,No,No,No
4,86060,0.11,0,15000,840,51,2,0,1.0,3,hot air,gas,public/commercial,No,Yes,Yes

In [22]:
x = dataset[["livingArea", "landValue", "rooms", "centralAir"]].values
y = dataset["price"].values

In [23]:
x[:10]

array([[906, 50000, 5, 'No'],
       [1953, 22300, 6, 'No'],
       [1944, 7300, 8, 'No'],
       [1944, 18700, 5, 'No'],
       [840, 15000, 3, 'Yes'],
       [1152, 14000, 8, 'No'],
       [2752, 23300, 8, 'No'],
       [1662, 14600, 9, 'No'],
       [1632, 22200, 8, 'No'],
       [1416, 21200, 6, 'No']], dtype=object)

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
encoder = LabelEncoder()

In [26]:
x[:,-1] = encoder.fit_transform(x[:,-1])

In [27]:
x[:10]

array([[906, 50000, 5, 0],
       [1953, 22300, 6, 0],
       [1944, 7300, 8, 0],
       [1944, 18700, 5, 0],
       [840, 15000, 3, 1],
       [1152, 14000, 8, 0],
       [2752, 23300, 8, 0],
       [1662, 14600, 9, 0],
       [1632, 22200, 8, 0],
       [1416, 21200, 6, 0]], dtype=object)